<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Agregar un estudiante</title>
</head>
<body>
	<form th:action="@{/formEstudiante}" th:object="${estudiante}" method="post">
		<h1>Ingresa un estudiante</h1>
		<div class="form-content">
			<label>Nombre :</label><br>
			<input type="text" th:field="${estudiante.nombre}"><br>
			<span th:errors="${estudiante.nombre}"></span><br>
			
			<label>Apellido:</label><br>
			<input type="text" th:field="${estudiante.apellido}"><br>
			<span th:errors="${estudiante.apellido}"></span><br>
			
			<label>Carne:</label><br>
			<input type="number" th:field="${estudiante.carne}"><br>
			<span th:errors="${estudiante.carne}"></span><br>
			
			<label>Carrera:</label><br>
			<input type="text" th:field="${estudiante.carrera}"><br>
			<span th:errors="${estudiante.carrera}"></span><br><br>
		</div>
		<input type="submit" value="Agregar">
	</form>
	<br>
	<button><a href="/listado">Ver todos los estudiantes</a></button>

</body>
</html></html>